<h1>This is the camp grounds page</h1>

<% campGrounds.forEach(function (campGround) {  %>

    <div>
        <h4><%= campGround.name %></h4>
        <img src="<%= campGround.image %>">
    </div>

<% }); %>